:root {
  --primary: oklch(0.685 0.169 237.323);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
}

.dark {
  --background: oklch(0.2891 0 0);
  --foreground: oklch(0.8945 0 0);
}
